XML/FFSCHEMA.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = scene
stage = element stage { text }
scene = element scene { boxstart | name | sp | speaker }
sp = element sp { text | boxstart | speaker }
name = attribute name { text }
boxstart = element boxstart { choice }
choice = element choice { speaker }
speaker = element speaker { name | text }